<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--    这是配置jedisPool的  让spring容器帮我管理jedisPool-->
    <!--    配置一个单机版的-->
    <bean id="redisClient" class="redis.clients.jedis.JedisPool">
        <constructor-arg name="host" value="192.168.0.122"></constructor-arg>
        <constructor-arg name="port" value="6379"></constructor-arg>
    </bean>
    <!--    由于实现类没有加注解 我们通过这个方式加到spring容器中-->
    <bean id="jedisClient" class="com.taotao.sso.dao.JedisClientSingle"></bean>



<!--

    &lt;!&ndash;    在配置一个集群版的  要用哪个就用哪个&ndash;&gt;
    <bean id="redisClientCluster" class="redis.clients.jedis.JedisCluster">
        <constructor-arg name="nodes">
            <set>
                <bean class="redis.clients.jedis.HostAndPort">
                    <constructor-arg name="host" value="192.168.0.122"></constructor-arg>
                    <constructor-arg name="port" value="7001"></constructor-arg>
                </bean>
                <bean class="redis.clients.jedis.HostAndPort">
                    <constructor-arg name="host" value="192.168.0.122"></constructor-arg>
                    <constructor-arg name="port" value="7002"></constructor-arg>
                </bean>
                <bean class="redis.clients.jedis.HostAndPort">
                    <constructor-arg name="host" value="192.168.0.122"></constructor-arg>
                    <constructor-arg name="port" value="7003"></constructor-arg>
                </bean>
                <bean class="redis.clients.jedis.HostAndPort">
                    <constructor-arg name="host" value="192.168.0.122"></constructor-arg>
                    <constructor-arg name="port" value="7004"></constructor-arg>
                </bean>
                <bean class="redis.clients.jedis.HostAndPort">
                    <constructor-arg name="host" value="192.168.0.122"></constructor-arg>
                    <constructor-arg name="port" value="7005"></constructor-arg>
                </bean>

                <bean class="redis.clients.jedis.HostAndPort">
                    <constructor-arg name="host" value="192.168.0.122"></constructor-arg>
                    <constructor-arg name="port" value="7006"></constructor-arg>
                </bean>

            </set>
        </constructor-arg>

    </bean>
    &lt;!&ndash;    由于实现类没有加注解 我们通过这个方式加到spring容器中&ndash;&gt;
    <bean id="jedisClientCluster" class="com.taotao.sso.dao.JedisClientCluster"></bean>

-->

</beans>